S3method(barplot,SCGLR)
S3method(pairs,SCGLR)
S3method(plot,SCGLR)
S3method(print,SCGLR)
S3method(print,summary.SCGLR)
S3method(summary,SCGLR)
export(critConvergence)
export(infoCriterion)
export(multivariateFormula)
export(multivariateGlm)
export(multivariateGlm.fit)
export(multivariatePredictGlm)
export(scglr)
export(scglrCrossVal)
import(Formula)
import(ROCR)
import(expm)
import(ggplot2)
import(grid)
import(stringr)
importFrom(Matrix,bdiag)
importFrom(graphics,barplot)
