S3method(barplot,SCGLR)
S3method(pairs,SCGLR)
S3method(plot,SCGLR)
S3method(print,SCGLR)
S3method(summary,SCGLR)
export(critConvergence)
export(f2x)
export(infoCriterion)
export(kComponents)
export(metric)
export(metricBloc)
export(multivariateFormula)
export(multivariateGlm)
export(multivariateGlm.fit)
export(multivariatePredictGlm)
export(oneComponent)
export(scglr)
export(scglrCrossVal)
export(wtCenter)
export(wtScale)
import(ggplot2)
import(graphics)
import(grid)
import(stringr)
